### Creating a dataframe from an array

In [1]:
import numpy as np
import pandas as pd

In [3]:
np.array([[1,4], [2,5]])

array([[1, 4],
       [2, 5]])

In [4]:
data = np.array([[1,4], [2,5]])

In [5]:
pd.DataFrame(data, index=['row1',"row2"], columns=['col1','col2'])

      col1  col2
row1     1     4
row2     2     5

In [6]:
data = np.array([[1,4], [2,5],[3,4]])
pd.DataFrame(data,index=['row1','row2','row3'], columns=['col1','col2'])

      col1  col2
row1     1     4
row2     2     5
row3     3     4

In [9]:
data = np.array([[1,4,3], [2,5,4],[3,4,5]])
pd.DataFrame(data,index=["row1",'row2','row3'], columns=['col1','col2','col3'])

      col1  col2  col3
row1     1     4     3
row2     2     5     4
row3     3     4     5

In [10]:
data = [[1,4,3], [2,5,4],[3,4,5]]
pd.DataFrame(data,index=["row1",'row2','row3'], columns=['col1','col2','col3'])

      col1  col2  col3
row1     1     4     3
row2     2     5     4
row3     3     4     5

### Creating a DataFrame From a dictionary

In [11]:
states = ['California',"Texas","Florida","New York"]
population = [400000,200000,300000,100000]
states

['California', 'Texas', 'Florida', 'New York']

In [15]:
dict_states = {"States": states, "Population": population}
dict_states

{'States': ['California', 'Texas', 'Florida', 'New York'],
 'Population': [400000, 200000, 300000, 100000]}

In [16]:
pd.DataFrame(dict_states)

       States  Population
0  California      400000
1       Texas      200000
2     Florida      300000
3    New York      100000

### Read CSV

In [ ]:
pd.read_csv(r"D:\MachineLearning_Foundation\all_month.csv")